In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
lc = pd.read_csv('rejected_2007_to_2018Q4.csv', delimiter = ',')
lc.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [3]:
lc.shape

(27648741, 9)

In [4]:
del2 = lc.drop('Loan Title', axis = 1, inplace= True)

In [5]:
missing_values = lc.isnull().sum()
missing_values [0:10]

Amount Requested               0
Application Date               0
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
dtype: int64

In [6]:
print(lc[lc['Policy Code'].isna()])

         Amount Requested Application Date  Risk_Score Debt-To-Income Ratio  \
4166782           20000.0       2017-03-16         NaN               37.95%
4167136           20000.0       2017-03-16         NaN               37.17%
4167157           13000.0       2017-03-16       739.0               37.28%
4168511           21000.0       2017-03-16         NaN               37.42%
4168629           30000.0       2017-03-16       663.0               36.03%
...                   ...              ...         ...                  ...
4402401           35000.0       2017-03-31       731.0                35.7%
4402559           40000.0       2017-03-31       634.0               37.84%
4402657            1000.0       2017-03-31         NaN               36.15%
4403807           10000.0       2017-03-31         NaN               38.81%
4404341            8000.0       2017-03-31         NaN               37.48%

        Zip Code State Employment Length  Policy Code
4166782    370xx    TN         10+ years          NaN
4167136    864xx    AZ               NaN          NaN
4167157    142xx    NY           8 years          NaN
4168511    750xx    TX         10+ years          NaN
4168629    103xx    NY           5 years          NaN
...          ...   ...               ...          ...
4402401    992xx    WA         10+ years          NaN
4402559    301xx    GA         10+ years          NaN
4402657    670xx    KS         10+ years          NaN
4403807    604xx    IL         10+ years          NaN
4404341    914xx    CA         10+ years          NaN

[918 rows x 8 columns]

### Filling null values with 3 as Policy Code

In [7]:
fill_1 = lc['Policy Code'].fillna(3,inplace= True)

In [8]:
missing_values = lc.isnull().sum()
missing_values [0:10]

Amount Requested               0
Application Date               0
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                    0
dtype: int64

In [9]:
lc['Policy Code'] = lc['Policy Code'].astype('Int64')

In [10]:
lc.head()

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,693.0,10%,481xx,NM,4 years,0
1,1000.0,2007-05-26,703.0,10%,010xx,MA,< 1 year,0
2,11000.0,2007-05-27,715.0,10%,212xx,MD,1 year,0
3,6000.0,2007-05-27,698.0,38.64%,017xx,MA,< 1 year,0
4,1500.0,2007-05-27,509.0,9.43%,209xx,MD,< 1 year,0

In [11]:
miss_val = (((lc.isnull().sum()).sum())/lc.size)*100
miss_val

8.793031480167578

In [12]:
lc.head()

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,693.0,10%,481xx,NM,4 years,0
1,1000.0,2007-05-26,703.0,10%,010xx,MA,< 1 year,0
2,11000.0,2007-05-27,715.0,10%,212xx,MD,1 year,0
3,6000.0,2007-05-27,698.0,38.64%,017xx,MA,< 1 year,0
4,1500.0,2007-05-27,509.0,9.43%,209xx,MD,< 1 year,0

### Calculating null values % of each column

In [13]:
d = np.where(lc.isnull().sum(axis=1)>10)
lc = lc.drop(lc.index[d])
print(round(100*(1-lc.count()/len(lc)),2))

Amount Requested         0.00
Application Date         0.00
Risk_Score              66.90
Debt-To-Income Ratio     0.00
Zip Code                 0.00
State                    0.00
Employment Length        3.44
Policy Code              0.00
dtype: float64

### Changed Datatype of emp_length column and reformatiing it

In [14]:
lc_final = lc

In [15]:
lc.head()

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,693.0,10%,481xx,NM,4 years,0
1,1000.0,2007-05-26,703.0,10%,010xx,MA,< 1 year,0
2,11000.0,2007-05-27,715.0,10%,212xx,MD,1 year,0
3,6000.0,2007-05-27,698.0,38.64%,017xx,MA,< 1 year,0
4,1500.0,2007-05-27,509.0,9.43%,209xx,MD,< 1 year,0

In [16]:
lc_final['Employment Length'] = lc_final['Employment Length'].str.replace('years','')

In [17]:
lc_final['Employment Length'] = lc_final['Employment Length'].str.replace('year','')

In [18]:
lc_final['Employment Length'] = lc_final['Employment Length'].str.replace('+','' , regex= False)

In [19]:
lc_final['Employment Length'] = lc_final['Employment Length'].str.replace('< 1','0.5')

In [20]:
lc_final['Employment Length'] = lc_final['Employment Length'].astype('float')

In [21]:
lc_final['Employment Length'].head()

0    4.0
1    0.5
2    1.0
3    0.5
4    0.5
Name: Employment Length, dtype: float64

### Performing Imputation of Risk_score column

In [22]:
lc.Risk_Score.fillna(lc['Risk_Score'].mean(), inplace = True)

In [23]:
d = np.where(lc.isnull().sum(axis=1)>10)
lc = lc.drop(lc.index[d])
print(round(100*(1-lc.count()/len(lc)),2))

Amount Requested        0.00
Application Date        0.00
Risk_Score              0.00
Debt-To-Income Ratio    0.00
Zip Code                0.00
State                   0.00
Employment Length       3.44
Policy Code             0.00
dtype: float64

In [24]:
lc.iloc[4166782:4166785] #628.17209 is the mean value

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
4166782,20000.0,2017-03-16,628.17209,37.95%,370xx,TN,10.0,3
4166783,10000.0,2017-03-16,628.17209,19.18%,243xx,VA,10.0,0
4166784,4000.0,2017-03-16,649.00000,16%,028xx,RI,0.5,0

### Scaling down debt to income column

In [25]:
#from sklearn.preprocessing import MinMaxScaler

In [26]:
#lc['Debt-To-Income Ratio'] = lc['Debt-To-Income Ratio'].str.replace('%','')

In [27]:
#lc['Debt-To-Income Ratio'].astype('float')

In [28]:
#scaler = MinMaxScaler(feature_range=(1, 100))

In [29]:
#lc[['Debt-To-Income Ratio']] = scaler.fit_transform(lc[["Debt-To-Income Ratio"]])
#lc[['Debt-To-Income Ratio']]

In [30]:
#lc['Debt-To-Income Ratio'].max()

In [31]:
#lc.Risk_Score = lc.Risk_Score.round(2)

In [32]:
lc

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,693.00000,10%,481xx,NM,4.0,0
1,1000.0,2007-05-26,703.00000,10%,010xx,MA,0.5,0
2,11000.0,2007-05-27,715.00000,10%,212xx,MD,1.0,0
3,6000.0,2007-05-27,698.00000,38.64%,017xx,MA,0.5,0
4,1500.0,2007-05-27,509.00000,9.43%,209xx,MD,0.5,0
...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,590.00000,41.26%,441xx,OH,0.5,0
27648737,10000.0,2016-12-31,628.17209,1.48%,207xx,MD,5.0,0
27648738,1200.0,2016-12-31,686.00000,10.26%,914xx,CA,0.5,0
27648739,25000.0,2016-12-31,628.17209,17.71%,880xx,NM,0.5,0
27648740,15000.0,2016-12-31,684.00000,10.58%,113xx,NY,0.5,0